---
layout: default
published: true
---

{% include header.html %}

<div class="blog">
    <h2>Blog Posts:</h2>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<br /><br /><br /><br />

<div class="header">
  <hr>
  <iframe src="http://simodax.github.io"></iframe>
    "Fools said I you do not know, silence like a cancer grows"
</div>
